<div class="container" >
    <div class=" text-center">
        <!-- logo -->
        <img  src="assets/img/logo.png" style="max-width: 280px;">
    </div>
    <form class="form-signin" #heroForm="ngForm">
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" [(ngModel)]="username" required >
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" [(ngModel)]="password" required>

        <div class="checkbox">
            <label>
                <input type="checkbox" name = rememberme [(ngModel)]="rememberme"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login(username, password, rememberme)" [disabled]="requestInProgress">Sign in <img *ngIf="requestInProgress" src="assets/img/loader.gif" height="20" class="pull-right"></button>
    </form>

</div> <!-- /container -->
